@import 'reset.css';

$body-background-color: #ECF0F2;
$landing-background-color: #1D2532;

$tensoriot-color: #414141;
$tensoriot-background-color: #00C8F2;

$hackplus-color: #ffffff;
$hackplus-background-color: #9137FF;

$codeday-color: #ffffff;
$codeday-background-color: #FF515E;

$usf-color: #FFBC00;
$usf-background-color: #004D38;

$medium-width: 1000px;
$medium-height: 1100px;

@keyframes move-right {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @media(max-width: $medium-width) {
    height: auto;
    overflow: inherit;
  }
}

body {
  background-color: $body-background-color;
  font-family: 'Hind', sans-serif;
  a {
    color: inherit;
    text-decoration: none;
    &:hover, &:focus, &:visited {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .main {
    width: 75%;
    flex: 75%;
    margin: 20px;
    margin-right: 0px;
    overflow: hidden;
  }
  @media(max-width: $medium-width) {
    display: block;
    .main {
      width: 100%;
      margin: 0px;
      .landing {
        height: auto;
      }
    }
    .side {
      width: 100%;
      .box {
        height: auto;
        padding: 10px;
      }
    }
  }
}

.side {
  width: 25%;
  flex: 25%;
  display: flex;
  margin: 20px 20px 20px 10px;
  flex-direction: column;
  .section {
    margin-bottom: 10px;
    .section-title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.2em;
    }
    .section-content {
      display: table;
      .row {
        display: flex;
        align-items: baseline;
        font-size: 1.2em;
        margin: 10px 0 10px 0;
        position: relative;
        // display: table-row;
        .icon {
          min-width: 40px;
          text-align: center;
          .fa {
            margin-left: 5px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.landing {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  background-color: $landing-background-color;
  .profile-image {
    width: 40%;
    flex: 40%;
    position: relative;
    z-index: 2;
    img {
      position: absolute;
      height: 90vh;
      bottom: 0px;
      &.sketch {
        animation: opacity 1s;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
      }
    }
  }
  .profile {
    width: 60%;
    flex: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .profile-content {
      position: relative;
      padding-bottom: 60px;
      color: white;
      text-align: center;
      animation: move-right 2s;
      max-width: 480px;
      .name {
        font-size: 4em;
        .samu {
          color: inherit;
          transition: color 0.5s;
        }
        .samu:hover {
          color: #FF855A;
        }
      }
      .description {
        font-size: 2em;
        padding-bottom: 20px;
        transition: color 0.25s;
        .learner {
          font-family: 'Caveat', cursive;
          font-size: 1.2em;
        }
        .explorer {
          font-family: 'Pompiere', cursive;
          font-size: 1.2em;
        }
        &:hover {
          color: #2B75C9;
        }
        span {
          color: #ffffff;
        }
      }
      .links {
        font-size: 3em;
        a {
          margin: 10px;
          transition: all 0.25s;
          &:hover {
            color: #A3A7AC;
            font-size: 1.1em;
          }
        }
        .resume {
          position: relative;
          i.fa-user {
            position: absolute;
            top: 40%;
            right: 0;
            left: 0;
            font-size: 0.4em;
          }
        }
      }
    }
  }
  @media(max-width: $medium-width) {
    .profile-image {
      display: none;
    }
    .profile {
      width: 100%;
      flex: 100%;
      .profile-content {
        padding-bottom: 0px;
        font-size: 2.5vw;
      }
    }
  }
  @media (orientation: portrait) {
    .profile-image {
      display: none;
    }
  }
  @media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    flex-direction: column-reverse;
    .profile-image {
      width: 100%;
      flex: 100%;
      img {
        margin: 0 auto;
        right: 0;
        left: 0;
        height: 60vh;
      }
    }
    .profile {
      width: 100%;
      flex: 100%;
    }
  }
}
