@import 'reset.css';

$body-background-color: #ECF0F2;
$landing-background-color: #1D2532;

$tensoriot-color: #414141;
$tensoriot-background-color: #00C8F2;

$hackplus-color: #ffffff;
$hackplus-background-color: #00355F;

$codeday-color: #ffffff;
$codeday-background-color: #FF515E;

$usf-color: #FFBC00;
$usf-background-color: #004D38;

$medium-width: 1000px;

@keyframes move-right {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @media(max-width: $medium-width) {
    height: auto;
    overflow: inherit;
  }
}

body {
  background-color: $body-background-color;
  font-family: 'Hind', sans-serif;
  a {
    color: inherit;
    text-decoration: underline;
    &:hover, &:focus, &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .main {
    width: 75%;
    flex: 75%;
    margin: 20px;
    margin-right: 0px;
    overflow: hidden;
  }
  .side {
    width: 25%;
    flex: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    .box {
      height: 100%;
      margin: 10px;
    }
  }
  @media(max-width: $medium-width) {
    display: block;
    .main {
      width: 100%;
      margin: 0px;
      .landing {
        height: auto;
      }
    }
    .side {
      width: 100%;
      margin: 0px;
      .box {
        height: auto;
        padding: 10px;
      }
    }
  }
}

.side {
  .box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .box-content {
      .title {
        font-size: 1.5em;
      }
      .description {
        font-size: 1.2em;
      }
      .date {
        font-size: 1.2em;
      }
    }
    &:hover {
      .hover {
        opacity: 1;
      }
    }
    .hover {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.7);
      transition: all 0.25s;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5em;
    }
  }
  .tensoriot {
    background-color: $tensoriot-background-color;
    color: $tensoriot-color;
  }
  .hackplus {
    background-color: $hackplus-background-color;
    color: $hackplus-color;
  }
  .codeday {
    background-color: $codeday-background-color;
    color: $codeday-color;
  }
  .usf {
    background-color: $usf-background-color;
    color: $usf-color;
  }
}

.landing {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  background-color: $landing-background-color;
  .profile-image {
    width: 40%;
    flex: 40%;
    position: relative;
    z-index: 2;
    img {
      position: absolute;
      bottom: 0px;
      height: 90vh;
      &.sketch {
        animation: opacity 1s;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
      }
    }
  }
  .profile {
    width: 60%;
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .profile-content {
      position: relative;
      animation: move-right 2s;
      color: white;
      text-align: center;
      padding-bottom: 60px;
      .name {
        font-size: 4em;
      }
      .description {
        font-size: 2em;
      }
      .links {
        font-size: 3em;
        a {
          margin: 10px;
        }
      }
    }
  }
  @media(max-width: $medium-width) {
    .profile-image {
      display: none;
    }
    .profile {
      width: 100%;
      flex: 100%;
      .profile-content {
        font-size: 2.5vw;
        padding-bottom: 0px;
      }
    }
  }
}
