@import 'reset.css';

@keyframes open-envelope {
  0% {
    top: 50vh;
  }
  10% {
    top: 48vh;
  }
  65% {
    opacity: 1;
  }
  100% {
    top: 140vh;
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  color: black;
  background-color: #f5f5f5;
  position: relative;
  a {
    color: inherit;
    text-decoration: none;
    &:hover, &:focus, &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}

$box-shadow-color: #939393;
$envelope-background-color: #e1d3bf;
$envelope-width: 60vw;
$envelope-seal-border-color: #f4ede1;
$envelope-seal-background-color: #efe4d3;

$letter-background-color: #fcfbf9;
$letter-shadow-color: #c4c4c4;

%animation-shared {
  animation: open-envelope 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.envelope-container {
  position: absolute;
  width: 100%;
  top: 50vh;
  @extend %animation-shared;
  .envelope {
    margin: 0 auto;
    background-color: $envelope-background-color;
    width: $envelope-width;
    min-width: 600px;
    height: 600px;
    box-shadow: 0px 0px 40px $box-shadow-color;
  }
  z-index: 4;
}

.envelope-seal-container {
  position: absolute;
  top: 50vh;
  height: 1px;
  width: 100%;
  z-index: -5;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend %animation-shared;
  .envelope-seal {
    margin: 0 auto;
    border: 50px solid $envelope-seal-border-color;
    background-color: $envelope-seal-background-color;
    width: 42.4264068712vw; // root($envelope-width^2/2)
    min-width: 424.264068712px; // root(600^2/2)
    height: 42.4264068712vw;
    min-height: 424.264068712px;
    transform: rotate(45deg);
    box-shadow: 0px 0px 40px $box-shadow-color;
    border-top-left-radius: 30px;
  }
}

.letter-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  .letter-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      padding: 20px;
      background-color: $letter-background-color;
      box-shadow: 0px 0px 60px $letter-shadow-color;
      min-width: 500px;
      width: 50vw;
      min-height: 500px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .picture {
        text-align: center;
          img {
            width: 180px;
            height: 180px;
            border-radius: 50%;
          }
      }
      .name {
        color: #6c936c;
        font-size: 3em;
        font-style: italic;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Catamaran', sans-serif;
      }
      .current {
        text-align: center;
        .work {
          font-family: 'Catamaran', sans-serif;
          font-weight: 500;
          font-size: 1.3em;
          color: #666563;
        }
      }
      .links {
        width: 100%;
        text-align: center;
        a {
          display: inline-block;
          margin: 10px;
          font-size: 2.3em;
        }
      }
    }
  }
}
